@"
# Environnements & caches
.venv/
.cache/
__pycache__/
logs/

# Données & artefacts locaux
evaluation_data/
results.csv

# Modèles/poids/artefacts lourds
pretrained_models/
parameters/bn_asr/
parameters/spk_id/
parameters/vocoder/
parameters/pool/

# Fichiers lourds courants
*.ckpt
*.onnx
*.npz
*.wav
*.flac

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
"@ | Add-Content .gitignore
